{% extends "base.html" %}

{% block title %}Categories{% endblock %}

{% block content %}
    <div class="categories">
        <h1>Explore Categories</h1>

        {% if categories %}
        
        

        
        
        <div class="categories_list">
            {% for category in categories %}
            <a class="categories_list-category" href="{{ url_for('tweets.tweets_by_category', category_id=category.id) }}"  >

                {{category.name}}
            </a>
            {% endfor %}

        </div>

        {% else %}
        <p>No categories, add some!</p>

        {% endif %}
    </div>

{% endblock %}